<title>Packages</title>


      <!-- My CSS Stylesheet Link -->
    <link rel="stylesheet" href="assets/css/packages.css">





        <!-- Slider + Text Starting -->
        <section class="container">
            <div style="margin-top: 100px;" class="slider-wrapper">
                <div class="slider">
                    <img id="slide-1" src="assets/css/images/pexels-oliver-sjöström-931018.jpg" alt="3D rendering of an imaginary orange planet in space" />
                    <img id="slide-2" src="assets/css/images/pexels-asad-photo-maldives-3601453.jpg" alt="3D rendering of an imaginary green planet in space" />
                    <img id="slide-3" src="assets/css/images/pexels-herman-io-3584309.jpg" alt="3D rendering of an imaginary blue planet in space" />
                    

                    <!-- Text Starting -->
                    <div style="text-align: center;" class="centered">
                    <h1>What Are You Waiting For?</h1>


                    <!-- Cool Button Starting -->
                    <div style="margin-top: 10px;" class="my-btn">
                        <a class="btn-slice" href="#book">
                            <div class="top"><span>Book Now</span></div>
                            <div class="bottom"><span>Book Now</span></div>
                        </a>
                    </div>
                    <!-- Cool Button Ending -->


                    </div>
                    <!-- Text Ending -->

                    


                <div class="slider-nav">
                    <a href="#slide-1"></a>
                    <a href="#slide-2"></a>
                    <a href="#slide-3"></a>
                </div>
            </div>
        </section>
    <!-- Slider +Text Ending -->





    <br/><br/><br/><br/><br/><br/><br/>



    <!-- Cards Starting -->
    <h1 style="text-align: center; color:white;"><big><big>Packages</big></big></h1>
    <br/>
    <div class="card-group">
        <div style="background-color: transparent;" class="card">
          <img src="assets/css/images/ressss.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary"></small>
          </div>
        </div>
        <div style="background-color: transparent;" class="card">
          <img src="assets/css/images/mounatin.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary"></small>
          </div>
        </div>
        <div style="background-color: transparent;" class="card">
          <img src="assets/css/images/istockphoto-1442179368-170667a.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary"></small>
          </div>
        </div>
      </div>




      <br/><br/><br/>


      <div class="card-group">
        <div style="background-color: transparent;" class="card">
          <img src="assets/css/images/ressss.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary"></small>
          </div>
        </div>
        <div style="background-color: transparent;" class="card">
          <img src="assets/css/images/mounatin.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary"></small>
          </div>
        </div>
        <div style="background-color: transparent;" class="card">
          <img src="assets/css/images/ressss.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary"></small>
          </div>
        </div>
      </div>
      <!-- Cards Ending -->


      <br/>


              <!-- Cool Button Starting -->
        <div style="margin-top: 10px;" class="my-btn">
            <a class="btn-slice" href="#book">
                <div class="top"><span>Book Now</span></div>
                <div class="bottom"><span>Book Now</span></div>
            </a>
        </div>
        <!-- Cool Button Ending -->